src/*.exe
src/seckcoin
src/seckcoind
src/test_seckcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.seckcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
seckcoin-qt
SecKCoin-Qt.app

# Unit-tests
Makefile.test
seckcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
